.jumbotron{
    background-color: cyan; /*Le da el color al fondo*/
    color: rgb(6, 10, 59); /*Le da el color a la letra*/
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px; /*distancia del margen al texto*/
    background-color: cyan;
    margin-bottom: 0px; /*distancia del margen end of the page*/
    margin-top: 10px; /*distancia del margen top part footer on the page */
}

.card-portafolio{
    flex: 1 200px;/*sirve para saber en cuanto queremos que crezca el ancho y alto,estamos trabajando 
    las medidas flex grow (en la escala en la crece, 1 es el mismo tamaño, 2 seria el doble), 
    flex basic(especifica cual es el ancho definido); ya no se necesita especificar el ancho de columna
    col-sm-4 en index*/
    padding: 2px 0px 2px 0px;
    /*height:100%; encargado de la altura del objeto*/
    margin-top: 10px;
} 

.btn-ir{
    width: 80%;/*encargado de acho del objeto*/
}

.footer-datos-icon{
    padding-right: 10px;
}